* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

svg {
  fill: #6e1c66;
  transform: rotate(180deg);
  z-index: 0;
  position: absolute;
  background-color: white;
  top: -2px;
}

#teste {
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: #6e1c66;
  margin-top: 9%;
}

section {
  margin-top: 1000px;
  width: 100%;
  height: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:last-of-type {
  position: relative;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  height: 50ch;
  background-color: #6e1c66;
  justify-content: normal;
}

header {
  width: 100%;
  height: 500px;
  background-color: #fa036b;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header h1 {
  bottom: 0;
  position: absolute;
  font-size: 200px;
  margin: 10px 0;
  color: white;
}

header h1:last-child {
  bottom: -230px;
  color: #fa036b;
}

img {
  position: relative;
  width: 400px;
}

img[data-src] {
  opacity: 0;
  transform: translateX(-100%);
}

img[src] {
  opacity: 1;
  transition: 1.5s;
  transform: translateX(25%);
  left: -80px;
}

#img {
  mask-image: url(./resources/preview.png);
  background-color: #644978;
  mask-repeat: no-repeat;
  transform: translateX(-100%);
  transition: 1.5s;

  opacity: 0;
  margin-left: 0vmax;
  position: fixed;
  top: 30%;
  margin-top: 0;
  z-index: 10;
  mask-position: -30px -5px;
  mask-size: 430px;
}

#img.viewed {
  opacity: 1;
  transform: translateX(0px);
  margin-left: 5vmax;
  position: fixed;
  top: 30%;
  margin-top: 0;
  z-index: 10;
  mask-position: -30px -5px;
  mask-size: 430px;
}

ul {
  font-size: xxx-large;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 350px;
}

li {
  opacity: 0;
}

.active {
  font-size: 100px;
  font-weight: 800;
  display: block;
  opacity: 1;
  transition: 1.5s;
  text-align: center;
}
