* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

svg {
  fill: #6e1c66;
  transform: rotate(180deg);
  z-index: 0;
  position: absolute;
  background-color: white;
  top: -2px;
}

#teste {
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: #6e1c66;
  margin-top: 9%;
}

section {
  position: relative;
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  height: 50ch;
  background-color: #6e1c66;
}

header {
  width: 100%;
  height: 500px;
  background-color: #fa036b;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header h1 {
  bottom: 0;
  position: absolute;
  font-size: 200px;
  margin: 10px 0;
  color: white;
}

header h1:last-child {
  bottom: -230px;
  color: #fa036b;
}

img {
  position: relative;
  width: 400px;
}

img[data-src] {
  opacity: 0;
  transform: translateX(-100%);
}

img[src] {
  opacity: 1;
  transition: 1.5s;
  transform: translateX(25%);
}

#img {
  margin-top: 400px;
  mask-image: url(./resources/preview.png);
  mask-position: 45px -4px;
  mask-size: 450px;
  background-color: #644978;
  mask-repeat: no-repeat;
  opacity: 0;
  /* left: -100px; */
  transform: translateX(-100%);
}

#img.viewed {
  opacity: 1;
  transition: 1s;
  /* left: 0px; */
  transform: translateX(0px);
  margin-left: 5vmax;
}
